:root {
    --cor-principal-50: #e5edfc;
    --cor-principal-300: #98b8f3;
    --cor-principal-500: #6495ed;
    --cor-principal-600: #3271e7;
    --cor-titulo-500: #2D3748;
    --cor-titulo-800: #171c24;
    --cor-texto: #6B7280;
    --cor-bordas: #e5e7eb;
    --cor-bordas-escuras: #2D2D2D;
    --header-escuro: #1E1E1E;
    --confirmar: #008000;
    --erro: #ff0000;
    --erro-hover: #d50000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

#ativo {
    color: var(--cor-principal-500);
}

html, body {
    height: 100%;
}

main {
    flex: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E8F0FF;
    background: linear-gradient(135deg, rgba(232, 240, 255, 1) 0%, rgba(250, 252, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    user-select: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.modo-escuro {
    background: #121212;
}

.ocultar {
    display: none;
}

.ocultar-img {
    display: none;
}

.cabecalho {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding-inline: 5%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-bordas);
    background-color: white;
}

body.modo-escuro .cabecalho {
    background-color: var(--header-escuro);
    border-bottom: 1px solid var(--cor-bordas-escuras);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h1 {
    color: var(--cor-titulo-800);
    font-size: 1.5rem;
    padding-left: 5%;
}

body.modo-escuro .logo h1 {
    color: var(--cor-principal-50);
}

#mobile-li {
    display: none;
}

nav {
    color: var(--cor-titulo-500);
}

body.modo-escuro nav {
    color: var(--cor-principal-50);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
    padding-inline: 20px;
    border-bottom: 2px solid #ffffff00;
    transition: all 0.1s ease-out;
}

nav ul li:hover {
    color: var(--cor-principal-500);
    border-bottom: 2px solid var(--cor-principal-500);
    transition: all 0.1s ease-out;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: var(--erro);
    color: white;
    border-radius: 50px;
    padding-block: 10px;
    padding-inline: 20px;
    transition: all 0.2s ease-out;
    font-size: 0.9rem;
}

#btn-sair img {
    width: 18px;
    margin-right: 5px;
}

#btn-sair:hover {
    background-color: var(--erro-hover);
    cursor: pointer;
}

.btn-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-500);
    color: white;
    border-radius: 50px;
    padding-block: 10px;
    padding-inline: 15px;
    transition: all 0.2s ease-out;
    font-size: 0.9rem;
}

.btn-tema:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.btn-trocar-tema {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url('../images/lua-crescente.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
}

.btn-tema:hover .btn-trocar-tema {
    background-image: url('../images/lua-crescente-ativa.png');
    transition: all 0.2s ease-out;
}

body.modo-escuro .btn-trocar-tema {
    background-image: url('../images/sol.png');
    transition: all 0.2s ease-out;
}

body.modo-escuro .btn-tema:hover .btn-trocar-tema {
    background-image: url('../images/sol-ativo.png');
    transition: all 0.2s ease-out;
}

article {
    padding: 5%;
}

.titulos {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2%;
    color: var(--cor-titulo-500);
}

.titulos p {
    color: var(--cor-texto);
}

body.modo-escuro .titulos {
    color: var(--cor-principal-500);
}

body.modo-escuro .titulos p {
    color: var(--cor-principal-50);
}

#cadastro {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid var(--cor-bordas);
    border-radius: 15px;
    padding: 20px;
    width: 45%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

body.modo-escuro #cadastro {
    background-color: var(--header-escuro);
    border: 1px solid var(--cor-bordas-escuras);
}

#cadastro h1 {
    color: var(--cor-titulo-500);
    margin-block: 2%;
    text-align: center;
}

body.modo-escuro #cadastro h1 {
    color: var(--cor-principal-500);
}

#cadastro label {
    color: var(--cor-texto);
    margin-top: 2%;
    text-align: center;
}

#cadastro input, select {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--cor-bordas);
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: all 0.2s ease-out;
}

body.modo-escuro #cadastro input {
    background-color: var(--header-escuro);
    border: 2px solid var(--cor-bordas-escuras);
}

input, p, select {
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: inherit;
    color: var(--cor-titulo-500);
    transition: all 0.2s ease-out;
}

.cadastro-linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cadastro-conteudo {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
}

body.modo-escuro input, p, select {
    color: var(--cor-principal-50);
}

.cadastro input:focus-within {
    border: 2px solid var(--cor-principal-500);
}

select {
    border: 2px solid var(--cor-bordas);
    background-color: whitesmoke;
    color: var(--cor-texto);
}

body.modo-escuro select {
    border: 2px solid var(--cor-bordas-escuras);
    background-color: var(--header-escuro);
}

select:focus {
    border: 2px solid var(--cor-principal-500);
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 2%;
}

#btn-cadastro {
    background-color: var(--cor-principal-500);
    color: white;
    font-size: 1rem;
    border: none;
    padding-block: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    width: 30%;
}

#btn-cadastro:hover {
    background-color: var(--cor-principal-600);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#btn-cancelar {
    background-color: var(--erro);
    border: none;
    color: white;
    font-size: 1rem;
    padding-block: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    width: 30%;
}

#btn-cancelar:hover {
    background-color: var(--erro-hover);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#cadastrar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-principal-500);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    font-size: 2rem;
}

#cadastrar:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

#fundo {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}


.adotar-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    width: 30%;
    height: auto;
    border: 1px solid #e5e7eb;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

body.modo-escuro .card {
    border: 1px solid var(--cor-bordas-escuras);
    background-color: var(--header-escuro);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-conteudo {
    padding: 20px;
    color: var(--cor-titulo-500);
}


body.modo-escuro .card-conteudo {
    color: var(--cor-principal-500);
}

.card-conteudo p {
    padding-top: 1%;
    color: var(--cor-texto);
}

body.modo-escuro .card-conteudo p {
    color: var(--cor-principal-50);
}

.contato {
    color: var(--cor-titulo-500);
}

.btn-excluir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--erro);
    color: white;
    padding-block: 10px;
    margin-inline: 25px;
    margin-top: 15px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}

.btn-excluir:hover {
    background-color: var(--erro-hover);
    transition: all 0.2s ease-out;
}

.btn-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-500);
    color: white;
    padding-block: 10px;
    margin-inline: 25px;
    margin-top: 15px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}

.btn-contato:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;
}

footer {
    font-size: 1rem;
    padding: 50px;
    padding-inline: 5%;
    align-items: center;
    border-top: 1px solid var(--cor-bordas);
    background-color: white;
}

body.modo-escuro footer {
    border-top: 1px solid var(--cor-bordas-escuras);
    background-color: var(--header-escuro);
}

footer header {
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--cor-titulo-800);
}

body.modo-escuro footer header {
    color: var(--cor-principal-50);
}

footer img {
    width: 30px;
    padding-right: 10px;
}

footer p {
    padding-block: 10px;
    color: var(--cor-texto);
}

footer span {
    font-size: 0.8rem;
    color: var(--cor-texto);
}
@media (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .ocultar {
        display: block;
    }

    .ocultar-img {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 5%;
        
    }

    .cabecalho {
        padding-inline: 1%;
    }

    .cabecalho {
        justify-content: center;
    }

    .logo h1 {
        display: none;
    }

    .titulos {
        margin-top: 20%;
        margin-bottom: 5%;
    }

    .griffin {
        margin-top: 50%;
    }

    article {
        padding-inline: 10%;
    }

    .btn {
        display: none;
    }

    #mobile-li {
        display: block;
    }

    #pc-li {
        display: none;
    }

    .btn-tema {
        display: none;
    }

    #cadastrar {
        display: none;
    }

    .ocultar-footer {
        display: none;
    }

    .ocultar-titulo {
        display: none;
    }
    
    footer {
        font-size: 0.8rem;
    }

    footer span {
        font-size: 0.7rem;
    }

    .adotar-cards {
    flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
