:root {
    --cor-principal-50: #e5edfc;
    --cor-principal-300: #98b8f3;
    --cor-principal-500: #6495ed;
    --cor-principal-600: #3271e7;
    --cor-titulo-500: #2D3748;
    --cor-titulo-800: #171c24;
    --cor-texto: #6B7280;
    --cor-bordas: #e5e7eb;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

#ativo {
    color: var(--cor-principal-500);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E8F0FF;
    background: linear-gradient(135deg, rgba(232, 240, 255, 1) 0%, rgba(250, 252, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.cabecalho {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding-inline: 5%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-bordas);
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h1 {
    color: var(--cor-titulo-800);
    font-size: 1.5rem;
    padding-left: 5%;
}

#mobile-li {
    display: none;
}

nav {
    color: var(--cor-titulo-500);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
    padding-inline: 20px;
    border-bottom: 2px solid #ffffff00;
    transition: all 0.1s ease-out;
}

nav ul li:hover {
    color: var(--cor-principal-500);
    border-bottom: 2px solid var(--cor-principal-500);
    transition: all 0.1s ease-out;
}

.btn-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-500);
    color: white;
    border-radius: 50px;
    padding-block: 10px;
    padding-inline: 15px;
    transition: all 0.2s ease-out;
}

.btn-tema:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

#btn-trocar-tema {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../images/lua-crescente.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
}

article {
    padding: 5%;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 10%;
    border-bottom: 1px solid var(--cor-bordas);
}

.intro-conteudo {
    display: flex;
    flex-direction: column;
}

.intro-conteudo h1 {
    color: var(--cor-titulo-500);
    font-size: 3rem;
}

.intro-conteudo p {
    color: var(--cor-texto);
    font-size: 1.2rem;
    width: 80%;
}

.btn-intro {
    display: flex;
    align-items: center;
    margin-top: 5%;
    font: 1rem;
}

.btn-adotar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    padding-inline: 25px;
    border-radius: 50px;
    background-color: var(--cor-principal-500);
    color: white;
    transition: all 0.2s ease-out;
}

.btn-adotar img {
    width: 20px;
    padding-left: 10px;
}

.btn-adotar:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;   
}

.btn-como-funciona {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-principal-500);
    color: var(--cor-principal-500);
    padding-block: 13px;
    padding-inline: 25px;
    border-radius: 50px;
    margin-left: 2%;
    transition: all 0.2s ease-out;
}

.btn-como-funciona:hover {
    background-color: var(--cor-principal-600);
    border: 2px solid var(--cor-principal-600);
    color: white;
    transition: all 0.2s ease-out;
}

.intro-imagens {
    display: flex;
    flex-wrap: nowrap;
}

.intro-imagens img {
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 15px;
    margin: 2%;
}

#intro-img {
    margin-top: 5%;
}

.titulos {
    text-align: center;
    margin: 5%;
    color: var(--cor-titulo-500);
}

.titulos p {
    color: var(--cor-texto);
}

.destaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.destaque-cards {
    width: 25%;
    height: auto;
    border: 1px solid #e5e7eb;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.destaque-cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.destaque-conteudo {
    padding: 20px;
    color: var(--cor-titulo-500);
}

.destaque-conteudo p {
    padding-top: 3%;
    color: var(--cor-texto);
}

.btn-conhecer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-500);
    color: white;
    padding-block: 10px;
    margin-inline: 25px;
    margin-top: 25px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}

.btn-conhecer:hover {
    background-color: var(--cor-principal-600);
    transition: all 0.2s ease-out;
}

.btn-disponiveis {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: var(--cor-principal-500);
    border-bottom: 1px solid var(--cor-bordas);
}

.btn-disponiveis img {
    width: 15px;
    padding-left: 5px;
}

.btn-disponiveis:hover {
    color: var(--cor-principal-600);
    text-decoration: underline;
}

.funciona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.funciona-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--cor-titulo-500);
}

.funciona-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-500);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.funciona-background img {
    width: 30px;
    height: 30px;
}

.funciona-cards p {
    margin: 10px;
    color: var(--cor-texto);
}

.adotar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.adotar-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--cor-bordas);
    border-radius: 15px;
    background-color: white;
    color: var(--cor-titulo-500);
    padding: 20px;
}

.adotar-cards p {
    margin: 10px;
    margin-left: 0;
    color: var(--cor-texto);
}

.adotar-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-50);
    border-radius: 15px;
    margin: 10px;
    margin-left: 0;
    width: 50px;
    height: 50px;
}

.adotar-background img {
    width: 30px;
    height: 30px;
}

footer {
    font-size: 1rem;
    padding: 50px;
    padding-inline: 5%;
    align-items: center;
    border-top: 1px solid var(--cor-bordas);
    background-color: white;
}

footer header {
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--cor-titulo-800);
}

footer img {
    width: 30px;
    padding-right: 10px;
}

footer p {
    padding-block: 10px;
    color: var(--cor-texto);
}

footer span {
    font-size: 0.8rem;
    color: var(--cor-texto);
}

@media (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .cabecalho {
        padding-inline: 1%;
    }

    .cabecalho {
        justify-content: center;
    }

    .logo h1 {
        display: none;
    }

    .intro-imagens {
        display: none;
    }

    #mobile-li {
        display: block;
    }

    #pc-li {
        display: none;
    }

    .btn-apoie {
        display: none;
    }

    .intro {
        margin-top: 10%;
        text-align: left;
        padding-inline: 5%;
    }

    .intro-conteudo h1 {
        font-size: 2.5rem;
    }

    .intro-conteudo p {
        width: 100%;
    }

    .btn-como-funciona {
        display: none;
    }

    .destaque {
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    .destaque-cards {
        width: 100%;
    }

    .funciona {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .funciona-cards {
        width: 100%;
    }

    .adotar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .adotar-cards {
        width: 90%;
    }

    footer {
        font-size: 0.8rem;
    }

    footer span {
        font-size: 0.7rem;
    }
}
