:root {
    --cor-principal: #6495ED;
    --titulo: #2D3748;
    --texto: #6B7280;
}

* {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a.ativo {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-principal);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #FEF3E2;
    background: linear-gradient(135deg, rgba(254, 243, 226, 1) 0%, rgba(254, 253, 251, 1) 50%, rgba(255, 255, 255, 1) 100%);
    color: var(--titulo);
}

.cabeçalho {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    padding-inline: 3%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    padding: 10px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
    padding-inline: 20px;
}

.btn-adotar {
    display: flex;
    align-items: center;
    background-color: var(--cor-principal);
    color: white;
    border-radius: 50px;
    padding-block: 8px;
    padding-inline: 15px;
}

.btn-adotar:hover {
    opacity: 0.9;
    color: white;
}

.btn-adotar-ativo {
    width: 15px;
    height: 15px;
    background-image: url('../images/coracao.png');
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease-out;
}

.btn-adotar-ativo:hover {
    background-image: url('../images/coracao2.png');
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}

.btn-adotar p {
    padding-left: 5px;
}


article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 10%;
    padding-inline: 3%;
}

.intro h1 {
    font-size: 50px;
    line-height: 1.2;
}

.intro p {
    font-size: 20px;
    width: 80%;
    color: var(--texto);
}

.btn-intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
}

.btn-protetor {
    display: flex;
    align-items: center;
    background-color: var(--cor-principal);
    padding-block: 15px;
    padding-inline: 25px;
    border-radius: 50px;
}

.btn-protetor img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

.btn-protetor:hover {
    opacity: 0.9;
    color: white;
}

.btn-protetor span {
    color: white;
}

.btn-funciona {
    border: 2px solid var(--cor-principal);
    padding-block: 15px;
    padding-inline: 25px;
    border-radius: 50px;
    margin-left: 20px;
    color: var(--cor-principal);
    transition: all 0.2s ease-out;
}

.btn-funciona:hover {
    background-color: var(--cor-principal);
    color: white;
    transition: all 0.2s ease-out;
}

.pet-img {
    width: 250px;
    padding-right: 300px;
}